<div class="container-fluid">
<%= form_for(@subcategory) do |f| %>
  <% if @subcategory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subcategory.errors.count, "error") %> prohibited this subcategory from being saved:</h2>

      <ul>
      <% @subcategory.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table id="pro_table" style="width:50%">
  <tr>
    <td><%= f.label :name %><br></td>
    <td><%= f.text_field :name %></td> 
  </tr>
  <tr>
    <td><%= f.label :description %><br></td>
    <td><%= f.text_area :description %></td> 
  </tr>
  <tr>
    <td><%= f.label :image_url %><br></td>
    <td><%= f.file_field :image_url %></td> 
  </tr>
  <tr>
    <td><%= f.label :active %><br></td>
    <td><%= f.check_box :active %></tr> 
  </tr>

  <tr>
    <td><%= f.label :Category %><br></td>
    <td> <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select category",:required => true) %></tr> 
  </tr>
  
  <tr>
    <td><%= f.submit :class => "btn btn-warning" %></td>
     
  </tr>

</table>

  <!-- <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.file_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :active %><br>
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select category",:required => true) %>
  </div>
  <!-- <div class="field">
    <%= f.label :category_id %><br>
    <%= f.text_field :category_id %>
  </div> -->
  <!-- <div class="actions"> -->
    <%#= f.submit %>
  <!-- </div> --> -->
<% end %>
</div>
<style type="text/css">
#pro_table 
{
    border-collapse:separate;
    border-spacing:0 5px;

}

</style>