<p id="notice"><%= notice %></p>
<div class="container-fluid">
<table id="pro_table">
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @subcategory.name %></td> 
  </tr>

  <tr>
    <td><strong>Description:</strong></td>
    <td><%= @subcategory.description %></td> 
  </tr>

  <tr>
    <td><strong>Image:</strong></td>
    <td><%= image_tag @subcategory.image_url.medium5x5.url ,width: "60px",height: "60px" %></td> 
  </tr>

  <tr>
    <td><strong>Active:</strong></td>
    <td><%= @subcategory.active %></td> 
  </tr>


  <tr>
    <td><%= link_to 'Edit', edit_subcategory_path(@subcategory),{:class => "btn btn-primary"} %> |
    <%= link_to 'Back', subcategories_path,{:class => "btn btn-primary"} %></td> 
  </tr>
</table>
<!-- <p>
  <strong>Name:</strong>
  <%= @subcategory.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subcategory.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag @subcategory.image_url.medium5x5.url %>
  <%#= image_tag(@subcategory.image_url, class: 'list_image', width: "30px" ,heigth: "30px") %>
</p>

<p>
  <strong>Active:</strong>
  <%= @subcategory.active %>
</p>

<p>
  <strong>Category:</strong>
  <%= @subcategory.category.name %>
</p>

<%= link_to 'Edit', edit_subcategory_path(@subcategory) %> |
<%= link_to 'Back', subcategories_path %> -->
</div>
<style type="text/css">
#pro_table 
{
    border-collapse:separate;
    border-spacing:0 5px;
}
</style>
