<div class="eg-bar">
  <div class="Accessories-title"><%=title%></div>
  <span id="<%=title.downcase%>-title" class="iconspan"></span>
</div>
<div class="cl"></div>
<div id="<%=title.downcase%>" class="icongroup1">
  <div class="Accessories-list-browseby">
    <%filter_item.each do |item|%>
      <div class="left"><%= check_box_tag col_name, item.id%></div>
      <div class="left"><%= item.name %></div>
      <div class="cl"></div>
    <%end%>
  </div>
</div>
<div class="cl"></div>
<script type="text/javascript">
$(document).ready(function() {
  var filter_checkbox = {};
  $('.Accessories-list-browseby :checkbox').click(function() {
    call_filter(filter_checkbox);
    // alert('click');
  });

//   var checkedValues = $('.input:checkbox:checked').map(function() {
//     return this.value;
// }).get();

  // $("#rangeinput").change(function () {                    
  //    var newValue = $('#rangeinput').val();
  //    $("#rangevalue").html("B "+newValue);
  //    call_filter(filter_checkbox);
  // });

});

function call_filter(filter_checkbox) {
  var col_name = new Array("tag_id", "brand_id");

  col_name.forEach(function(item_id) {
    filter_checkbox[item_id]=$(".Accessories-list-browseby input[name='"+item_id+"']:checked").map(function () { return this.value; }).get().join(', ');
  });


  // filter_checkbox["price"]=$('#rangeinput').val();
  // var search=$('#product_spec_search').val();
  console.log(JSON.stringify(filter_checkbox));
  // $.ajax({
  //   url : '/accessories_listing',
  //   dataType : 'script',
  //   cache : false,
  //   type: 'get',
  //   data : {
  //     "filter_checkbox" : filter_checkbox,
  //     "search" : search
  //   }
  // });
}
</script>