 
     <div class="panel-heading">
                  
        <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapse4">
         <i class="indicator fa fa-caret-down" aria-hidden="true"></i> <%=title%></a>
         <input type="hidden" name="sub_cat_id" id="sub_cat_id" value="<%=@subcat_id_hidden%>">
        </h4>
    </div>
    <div id="collapse4" class="panel-collapse collapse in">
        <ul class="list-group">
        <% if col_name == "sort_id" %>
         <%filter_item.each do |item|%>
            <li class="list-group-item">
                <div class="checkbox">
                    <div class="filter-list-checkbox">
                        <label>
                            <%= check_box_tag col_name, "#{item["id"]}"%> <%= "#{item["name"]}" %>
                         </label>
                    </div>
                 </div>
            </li>
         <%end%>

        <% elsif col_name == "price_id" %>
       
         <%filter_item.each do |item|%>
            <li class="list-group-item">
                <div class="checkbox">
                    <div class="filter-list-checkbox">
                        <label>
                            <%= check_box_tag col_name, item.id%> <%= item.name %>
                         </label>
                    </div>
                 </div>
            </li>
         <%end%>

        <% else %>
           <%filter_item.each do |item|%>
              <li class="list-group-item">
                  <div class="checkbox">
                      <div class="filter-list-checkbox">
                          <label>
                              <%= check_box_tag col_name, item.id%> <%= item.name %>
                           </label>
                      </div>
                   </div>
              </li>
           <%end%>
        <% end %>
        </ul>
    </div>

    <script type="text/javascript">
$(document).ready(function() {
  var filter_checkbox = {};
  $('.filter-list-checkbox :checkbox').click(function() {
    call_profilter(filter_checkbox);
    // alert('click');
  });

//   var checkedValues = $('.input:checkbox:checked').map(function() {
//     return this.value;
// }).get();

  // $("#rangeinput").change(function () {                    
  //    var newValue = $('#rangeinput').val();
  //    $("#rangevalue").html("B "+newValue);
  //    call_filter(filter_checkbox);
  // });

});

function call_profilter(filter_checkbox) {
  var col_name = new Array("subcategory_id", "brand_id","sort_id","price_id","color_id");

  col_name.forEach(function(item_id) {
    filter_checkbox[item_id]=$(".filter-list-checkbox input[name='"+item_id+"']:checked").map(function () { return this.value; }).get().join(', ');
  });


  // filter_checkbox["price"]=$('#rangeinput').val();
  var sub_cat_id = $('#sub_cat_id').val();
  console.log(JSON.stringify(filter_checkbox));
  $.ajax({
    url : '/productfilter_listing',
    dataType : 'script',
    cache : false,
    type: 'get',
    data : {
      "filter_checkbox" : filter_checkbox,
      "sub_cat_id" :sub_cat_id
    }
  });
}
</script>

                                 
    
