 <section>                                          
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
         <ol class="carousel-indicators carousel-indicators2 carousel-indicators3">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
         <!--<div class="top-banner">
            <img src="img/home1/ribbon.png">
         </div>-->
       
        <div class="carousel-inner carousel-inner1">
            <div class="item active">
                <img src="http://via.placeholder.com/1600x540" alt="">                                      
            </div>
            <div class="item">
                <img src="http://via.placeholder.com/1600x540" alt="">                                  
            </div>
            <div class="item">
               <img src="http://via.placeholder.com/1600x540" alt="">                                   
            </div>
        </div>                              
    </div><!-- /carousel -->
  </section>
  <section class="section background-gy">
    <div class="container">
         <div class="row">							
            <div class="col-md-12 text-center padding-adj2">
             <div class="owl-carousel owl-theme carousel3 icons1">
             <% @categories.each do |category| %>
               <div class="item">
                    <a href="/home/product_list">
						<div class="img-back">
						<%= image_tag(category.image_url) %>
 						</div>
                        <p><%= category.name %></p>
                    </a>                                    
                </div>
                 
              <% end %>
                
				
               </div>                      
            </div>
         </div>
    </div>
</section>
             
             
<section class="section">
    <div class="container">
        <div class="row">
            <div class=" text-center heading">
                <h3>
                    <%= @categories.first.name %>
                </h3>
            </div>
            <div class="owl-carousel owl-theme owl-1 carousel1">
              <% @cat_products.each do |pro| %>
                <div class="item">
					<a href="#">
						<div class="img-back1">
						  <%= image_tag(pro.image_url) %>
							 <!-- <img class="img-responsive" src="/assets/img500.jpg">    -->
						</div>
						<h4><%= pro.name %></h4>
					</a>                                                                   
                </div>
                <% end %>
				
			</div>
        </div>
    </div>
</section>
<div class="divider1"></div>
			   
<section class="section">
    <div class="container">
        <div class="row">
            <div class=" text-center heading">
                <h3>
                    Category Name
                </h3>
            </div>
            <div class="owl-carousel owl-theme owl-1 carousel1">
                <div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
			</div>
        </div>
    </div>
</section>
<div class="divider1"></div>
<section class="section ">                     
    <div class="container">
         <div class="row">
            <div class="col-md-12 text-center heading">
                <h3>
                    DEAL OF THE DAY
                </h3>
            </div>                           
                <a href="#">
                    <img src="http://via.placeholder.com/1200x400" class="img-responsive">
                </a>
		 </div>
	</div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class=" text-center heading">
                <h3>
                    Popular Products
                </h3>
            </div>
            <div class="owl-carousel owl-theme owl-1 carousel1">
                <div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
			</div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
		 <div class=" text-center heading">
                <h3>
                    Trending Products
                </h3>
            </div>
        <div class="row no-gutters">
			<div class="col-md-4">
				<a href="#">
					<img src="http://via.placeholder.com/400x600" class="img-responsive border_style">
				</a>
			</div>
			<div class="col-md-4">
				<a href="#">
					<img src="http://via.placeholder.com/400x298" class="img-responsive border_style">
				</a>
				<a href="#">
					<img src="http://via.placeholder.com/400x299" class="img-responsive border_style">
				</a>
			</div>
			<div class="col-md-4">
				<a href="#">
					<img src="http://via.placeholder.com/400x600" class="img-responsive border_style">
				</a>
			</div>
			
		</div>
	</div>
</section>
<section class="section">
    <div class="container">
        <div class="row">
            <div class=" text-center heading">
                <h3>
                    Latest Arrival
                </h3>
            </div>
            <div class="owl-carousel owl-theme owl-1 carousel1">
                <div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
				<div class="item">
					<a href="#">
						<div class="img-back1">
							 <img class="img-responsive" src="/assets/img500.jpg">   
						</div>
						<h4>Product Name</h4>
					</a>                                                                   
                </div>
			</div>
        </div>
    </div>
</section>
 <div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog login-model">

    <!-- Modal content-->
    <div class="modal-content">
         <button type="button" class="close close-login" data-dismiss="modal">&times;</button>       
     
      <div class="modal-body ">
       <div class="row">
        <div class="col-md-6 hidden-xs">
            <img class="img-responsive height_adjust" src="/assets/lo-back.jpg">
        </div>
         <div class="col-md-6 text-center heading12">
            <img src="/assets/login.png" width="200px">
            <form action="" method="post" class="login-form1">
				<label class="label-control">
					Email ID
				</label>								
                <input type="email" id="userl_email" class="form-control" placeholder="Enter Email Id">
				<label class="label-control">
					Password
				</label>
                <input type="password" id="userl_pass" class="form-control" placeholder="Enter Password">
				
				<br />
				<button type="button" onclick="sign_in()" class="btn btn-default-style1">Login In</button>
            </form>
            <p>Lost Password? <a class="hide-login" data-toggle="modal" data-target="#lostpass">Click Here</a></p>
			<p>Don't u have an account?<a class="hide-login" data-toggle="modal" data-target="#signin">Sign Up</a></p> 
        </div>
         
       </div>
      </div>
      
    </div>

  </div>
</div>

 <div id="signin" class="modal fade" role="dialog">
  <div class="modal-dialog login-model">

    <!-- Modal content-->
    <div class="modal-content">
         <button type="button" class="close close-login" data-dismiss="modal">&times;</button>       
     
      <div class="modal-body ">
       <div class="row">
        <div class="col-md-6 hidden-xs">
            <img class="img-responsive height_adjust" src="/assets/lo-back.jpg">
        </div>
         <div class="col-md-6 text-center heading12">
            <img src="/assets/signup.png" width="200px">
            <form action="" method="post" class="login-form1">
                <label class="label-control">
					Name
				</label>
                <input type="text" id='userr_name' class="form-control" placeholder="Enter Name">
				<label class="label-control">
					Email ID
				</label>								
                <input type="email" id='userr_email' class="form-control" placeholder="Enter Email Id">
				<label class="label-control">
					Password
				</label>								
                <input type="password" id='userr_pass' class="form-control" placeholder="Enter Password">
                <label class="label-control">
					Confirm Password
				</label>								
                <input type="password" id='userr_cpass' class="form-control" placeholder="Enter Confirm Password">
				
				<button type="button" onclick="sign_up()" class="btn btn-default-style1">Register</button>
            </form>
            <p>Have an account?<a class="hide-signin" data-toggle="modal" data-target="#login">Log-in</a></p>                            
        </div>
       </div>
      </div>
      
    </div>

  </div>
</div>

<div id="lostpass" class="modal fade" role="dialog">
<div class="modal-dialog login-model">

<!-- Modal content-->
<div class="modal-content">
     <button type="button" class="close close-login" data-dismiss="modal">&times;</button>       
 
  <div class="modal-body ">
   <div class="row">
    <div class="col-md-6 hidden-xs">
        <img class="img-responsive" src="/assets/lo-back.jpg">
    </div>
     <div class="col-md-6 text-center heading12">
        <img src="/assets/pass.png" width="200px">
        <form action="" method="post" class="login-form1">                               
            <label class="label-control">
				Email ID
			</label>								
            <input type="email" class="form-control" placeholder="Enter Email Id">				
			<button type="submit" class="btn btn-default-style1">Submit</button>
        </form>
        <p>Have an account?<a class="hide-loss" data-toggle="modal" data-target="#login">Log-in</a></p>                            
    </div>
   </div>
  </div>
  
</div>

</div>
</div>
<script type="text/javascript">
	$(window).load(function(){ 
	    var user_id = '<%=@user_id%>';
	    if(user_id == 0){    
		   $('#login').modal('show');
	    }
	 });

function sign_in(){
      var uemail = $('#userl_email').val();
      var upass = $('#userl_pass').val();
	$.ajax('/users/login', 
		{
		    type: 'POST',
		    data: {
					email : uemail,
					password : upass
			},
		    success: function(data) 
		    {
		       // alert(data.success);
		       if(data.success == "success"){
		         $('#login').modal('hide');
		         location.reload();
		       }else{
		       	alert(data.success);
		       }
			} 
	});
} 
function sign_up(){
      var uname = $('#userr_name').val();
      var uemail = $('#userr_email').val();
      var upass = $('#userr_pass').val();
      var ucpass = $('#userr_cpass').val();
	$.ajax('/users/register', 
		{
		    type: 'POST',
		    data: {
					name : uname,
					email : uemail,
					password : upass
			},
		    success: function(data) 
		    {
		    	// alert(data.success);
		       if(data.success == "success"){
		         $('#signin').modal('hide');
		         location.reload();
		         // $("<%=j flash.now[:notice]  %>").appendTo("#flash-notice")

		       }else{
		       	// alert(data.success);
		       }
				
			} 
	});
} 
</script>