
   
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.0/css/bootstrap-slider.min.css" />
        <section class="bg-bread">
            <div class="breadcrum1">
                <div class="container">
                    <div class="breadcrum">
                        <ul>
                            <li><a href="#"> Home > </a></li>
                            <li> <a href="#">Category ></a></li>
                            <li> Sub Category</li>
                        </ul>

                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center padding-adj2">
                        <div class=" text-center heading">
                            <h3>
                                    Explore Category
                                </h3>
                        </div>
                        <div class="owl-carousel owl-theme carousel4 icons1">
                           <% @subcategories.each do |subcat| %>
                            <div class="item">
                                <a href="#">
                                    <div class="img-back">
                                        <img src="/assets/img500.jpg">
                                    </div>
                                    <p><%= subcat.name %></p>
                                </a>
                            </div>
                            <% end %>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="divider1"></div>
        <section>
            <div class="container">
                <div class="row">
					
                    <div class="col-md-4 col-sm-4">
                            <div class="text-center heading">
                                    <h3>Filter Your Search</h3>
                                </div>
                            <div id="accordion" class="panel behclick-panel">
                             <div class="panel-body">
                          <%#=render "prolist_sidemenu", :title=>"category", :filter_item=>@filter_cats, :col_name=>"subcategory_id"%>
                          <%=render "prolist_sidemenu", :title=>"Sort by", :filter_item=>@filter_sort, :col_name=>"sort_id"%>
                          <%#=render "sidebar_menu", :title=>"Price", :filter_item=>@filter_price, :col_name=>"price_id"%>
                          <%=render "prolist_sidemenu", :title=>"Brand", :filter_item=>@filter_brand, :col_name=>"brand_id"%>
                          <%=render "prolist_sidemenu", :title=>"Color", :filter_item=>@filter_color, :col_name=>"color_id"%>
                              </div>
                            </div>
                      </div>
                    <div class="col-md-8 col-sm-8">
                        <div class="row">
                            <div class="text-center heading">
                                <h3>
									Latest Arrivals
								</h3>
                            </div>
                            <div class="col-md-12 prolist_partial">
                             <%= render "pro_listing", :products => @subcat_products %>
                            </div>
                        </div>
						<div class="row text-center">
							<ul class="pagination pagi_style">
                               <%= will_paginate @subcat_products %>
								<!-- <li class="disabled"><a href="#">«</a></li>
								<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">»</a></li> -->
							</ul>
						</div>
                    </div>
                </div>
            </div>
        </section>

        <div class="divider1"></div>
        