
              
<section class="bg-bread">
  <div class="breadcrum1">
    <div class="container">
      <div class="breadcrum">
       <ul>
        <li><a href="#"> Home > </a></li>
        <li> <a href="#">Product ></a></li>
        <li> My Order</a></li>
                        
         </ul>
      </div>
    </div>
  </div>
</section>
<section>
<div class="container">
    <div class="row">
        <div class="col-md-12 margin-adjust text-center heading">
            <h3>My Orders</h3>
        </div>
       <% @order_item.each do |orderitem| %>
         <div class="row bor_order">
            <div class="col-md-4 col-sm-4" >
              <div class="media">
                <h3>Product Description</h3>
                   <a class="thumbnail pull-left" href="#">
                     <img class="media-object" src="/assets/img500.jpg" class="img-responsive">
                   </a>
                  <div class="media-body">
                     <h4 class="media-heading"><a href="#"><%= orderitem.product.name %></a></h4>
                     <h5 class="media-heading"><a href="#">Brand name with title</a></h5>
                     <h5>Total: <%= orderitem.total_price %></h5>
                     <h5>Quantity: <%= orderitem.quantity %></h5>
                  </div>
              </div>                        
            </div>

            <div class="col-md-4 col-sm-4">
              <div class="billing">
                <h3>Billing Address</h3>
                <p><%=@user_add.bfirst_name%></p>
                <p>Phone No-<%=@user_add.bphone%></p>
                <p>Email Id: <%=@user_add.bemail%></p>
                <p><%=@user_add.baddress%> </p>
                <p><%=@user_add.bcity%>-<%=@user_add.bpincode%> <%=@user_add.bstate%></p> 
              </div>
            </div>

              <div class="col-md-4 col-sm-4">
                <div class="status_can">
                  <h3>Status Details</h3>
                  <p>Thank you chosing us. We could like to serve you better</p>
                  <p><strong>Your Order will be deliver by 8th August, 2017</strong></p>
                  <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#cancel_order" class="btn btn-warning btn-warning1">Cancel Order</a>
                  </div>
                </div>
              </div>               
         </div>
     <% end %>               
   </div>
  </div>

</section>
<div class="divider1"></div>

<section class="section">
<div class="container">
  <div class="row">
      <div class=" text-center heading">
          <h3>
              Latest Arrival
          </h3>
      </div>
      <div class="owl-carousel owl-theme owl-1 carousel1">
<div class="item">
<a href="#">
<div class="img-back1">
 <img class="img-responsive" src="/assets/img500.jpg">   
</div>
<h4>Product Name</h4>
</a>                                                                   
</div>
<div class="item">
<a href="#">
<div class="img-back1">
 <img class="img-responsive" src="/assets/img500.jpg">   
</div>
<h4>Product Name</h4>
</a>                                                                   
          </div>
<div class="item">
<a href="#">
<div class="img-back1">
 <img class="img-responsive" src="/assets/img500.jpg">   
</div>
<h4>Product Name</h4>
</a>                                                                   
          </div>
<div class="item">
<a href="#">
<div class="img-back1">
 <img class="img-responsive" src="/assets/img500.jpg">   
</div>
<h4>Product Name</h4>
</a>                                                                   
          </div>
<div class="item">
<a href="#">
<div class="img-back1">
 <img class="img-responsive" src="/assets/img500.jpg">   
</div>
<h4>Product Name</h4>
</a>                                                                   
          </div>
<div class="item">
<a href="#">
<div class="img-back1">
 <img class="img-responsive" src="/assets/img500.jpg">   
</div>
<h4>Product Name</h4>
</a>                                                                   
          </div>
<div class="item">
<a href="#">
<div class="img-back1">
 <img class="img-responsive" src="/assets/img500.jpg">   
</div>
<h4>Product Name</h4>
</a>                                                                   
          </div>
<div class="item">
<a href="#">
<div class="img-back1">
 <img class="img-responsive" src="/assets/img500.jpg">   
</div>
<h4>Product Name</h4>
</a>                                                                   
          </div>
</div>
  </div>
</div>
</section>
              
            
 <script>
  $(".form1").click(function(){
       $("#hide-form2").show();
          $("#hide-form1").hide();
          
      });
 
 </script>

    