<section class="bg-bread">
<div class="breadcrum1">
<div class="container">
	<div class="breadcrum">
	   <ul>
		<li><a href="#"> Home > </a></li>
		<li> <a href="#">Product ></a></li>
		<li> <a href="#">Item ></a></li>
        <li>Item Checkout</li>
	   </ul>
   
   </div>
</div>
</div>
</section>
<section class="product-in-desi">
 <div class="row row_product">
  <div class="col-md-12">
    <div class="tabbable-panel">
        <div class="tabbable-line tabbable-line4 bg-green2">
                              
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_default_1" data-toggle="tab">
                            <i class="fa fa-cart-arrow-down" aria-hidden="true"></i>
                        Cart </a>
                    </li>
                    <li>
                        <a href="#tab_default_2" data-toggle="tab">
                            <i class="fa fa-address-card-o" aria-hidden="true"></i>
                        Address </a>
                    </li>
                    <li>
                        <a href="#tab_default_3" data-toggle="tab">
                            <i class="fa fa-credit-card" aria-hidden="true"></i>

                        Payment </a>
                    </li>                                             
                </ul>
            
                <div class="tab-content">
              
                    <div class="tab-pane active" id="tab_default_1">
						<div class="container">
							<div class="row">
								<div class="col-md-8">
									<div class="row-fluid">
									<% @cart.line_items.each do |item| %>
										<div class="col-md-6 col-sm-6">
											<div class="checkout_box">
												<div class="media">
													<a class="thumbnail pull-left" href="#">
                                                        <%= image_tag(item.product.image_url.medium5x5.url) %>
                                                        <!-- <img class="media-object" src="/assets/img500.jpg" class="img-responsive"> -->
                                                    </a>
													 <div class="media-body">
                                                        <h4 class="media-heading"><a href="#"><%= item.product.name %></a></h4>
                                                        <h5 class="media-heading"><a href="#">Brand name with title</a></h5>
														<h5>Total: Rs <%= item.total_price%></h5>
														<h5>Quantity: <%= item.quantity %></h5>
														
                                                     </div>
												</div>
												<div class="media1 text-center">
													<div id="field1">
														<button type="button" id="sub" onclick="line_item_increse('<%= item.product.id %>','sub');" class="sub field-style">-</button>
                          <%#= link_to "-", decrease_line_item_path(product_id: item.product), class: "sub field-style"%>
                  
                          <%#= button_to "-",decrease_line_item_path(item.product), class: "sub field-style", :method => "get" %>
                          <input  value="<%= item.quantity %>" id ="pro_count_<%= item.product.id %>" class="field" type="text">
                          <%#= link_to "+", increase_line_item_path(product_id: item.product), {:class=>"add field-style"} %>
                          <%#= button_to "+",increase_line_item_path(item.product), class: "add field-style", :method => "get" %>
														
														<button type="button" id="add" onclick="line_item_increse('<%= item.product.id %>','add');" class="add field-style">+</button>
													</div>
                          <%= link_to(item,method: :delete,class: "btn btn-success") do %>
                                                Remove <span class="fa fa-trash-o"></span>
                                            <% end %>
                          <%#= link_to 'Remove', item, method: :delete, %>
													
													<!-- </button> -->
												</div>
											</div>
										</div>
										<% end %>
									</div>
								</div>
								<div class="col-md-4">
									 <div class="product-details12">
                      <h4>Order Summary</h4>
                      
                      <div class="border-style1">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="pull-left">
                                      <p> Order Total</p>                                                                        
                                  </div>
                                  <div class="pull-right">
                                      <p> Rs.<%= @cart.total_price %></p>
                                  </div>
                              </div>
                          </div>                                            
                      </div>
                        <div class="border-style1">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="pull-left">
                                  <p><strong>Grand Total </strong> </p>
                                  </div>
                                  <div class="pull-right">
                                      <p><strong>Rs.<%= @cart.total_price %></strong> </p>                                                                                
                                  </div>
                              </div>
                          </div>                                            
                      </div>
										   <div class=" bottom-adjust">
												<button type="button" class="btn btn-default">
															<span class="fa fa-shopping-cart"></span> Continue Shopping
												</button>
												 <button type="button" class="btn btn-success">
															Checkout <span class="fa fa-play"></span>
												</button>
											</div>                                                        
                     </div>
								</div>
							</div>													
						</div>                                                
          </div>
<div class="tab-pane" id="tab_default_2">
<div class="container">
  <div class="row">
        <div class="col-md-4">
            <div class="address-form1 bottom-adjust">
                
                 <form class="form-horizontal ">
                    <div class="address-form">
                        <h4>Shipping Address</h4>
                    <div class="form-group">
                      <label  class="control-label col-sm-4" for="email">Email*</label>
                      <div class="col-sm-8">
                        <input type="email" class="form-control form-control1" id="semail" placeholder="Enter email" value="<%= @myadd.semail if @myadd.present?%> " required>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-4" for="pwd">Pincode*</label>
                      <div class="col-sm-8">
                        <input type="text" id="spincode" class="form-control form-control1" placeholder="Enter Pincode" value="<%=@myadd.spincode if @myadd.present? %>" required>
                      </div>
                    </div>
                    <div class="form-group">
                     <label class="control-label col-sm-4" for="email">Address*</label>
                      <div class="col-sm-8">
                        <textarea type="text" class="form-control" id="saddess" placeholder="Enter Address" required><%=@myadd.saddress if @myadd.present? %></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="control-label col-sm-4">First Name*</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control form-control1" placeholder="Enter First Name" value="<%=@myadd.sfirst_name if @myadd.present? %>" id="sfname" required />
                      </div>
                    </div>
                     <div class="form-group" >
                      <label class="control-label col-sm-4">Last Name*</label>
                      <div class="col-sm-8">
                        <input type="text" id="slname" class="form-control form-control1" value="<%=@myadd.slast_name if @myadd.present? %>" placeholder="Enter Last Name" required />
                      </div>
                    </div>
                      <div class="form-group" >
                      <label class="control-label col-sm-4">Mobile*</label>
                      <div class="col-sm-8">
                        <input type="text" id="sphone" class="form-control form-control1" value="<%=@myadd.sphone if @myadd.present? %>" placeholder="Enter Mobile" required />
                      </div>
                    </div>
 <div class="form-group" ></div>
                    
                    </div>
                   
                  </form>
            </div>
        </div>
 <div class="col-md-5">
    <div class="address-form1 bottom-adjust">                                        
         <form class="form-horizontal">
            <div class="address-form">
                 <div class="form-group form-style-extra">
                    <label class="control-label col-sm-4">Billing Address</label>
                    <div class="col-sm-8">
                      <label class=" form-control2">
                        <input type="checkbox" id="add_same" value="" checked>Use Shipping Address </label>
                    </div>
                </div>
                 <div id="shipping-address" style="display: none" >
                  <div class="form-group">
                    <label class="control-label col-sm-4">First Name*</label>
                    <div class="col-sm-8">
                      <input type="text" id="bfname" class="form-control form-control1" value="<%=@myadd.bfirst_name if @myadd.present? %>" placeholder="Enter First Name" required />
                    </div>
                  </div>
                   <div class="form-group" >
                    <label class="control-label col-sm-4">Last Name*</label>
                    <div class="col-sm-8">
                      <input type="text" id="blname" class="form-control form-control1" value="<%=@myadd.blast_name if @myadd.present? %>" placeholder="Enter Last Name" required />
                    </div>
                  </div>
                     <div class="form-group">
                   <label class="control-label col-sm-4" for="email">Address*</label>
                    <div class="col-sm-8">
                      <textarea type="text" class="form-control" id="baddress" placeholder="Enter Address" required><%=@myadd.baddress if @myadd.present? %></textarea>
                      <div class="col-md-7 form-style12">
                         <input type="text" id="bcity" class="form-control form-control1" value="<%=@myadd.bcity if @myadd.present? %>" placeholder="Enter City" required />
                   
                      </div>
                      <div class="col-md-5 form-style12">
                         <input type="text" id="bpincode" class="form-control form-control1" value="<%=@myadd.bpincode if @myadd.present? %>" placeholder="Pincode" required />
                   
                      </div>
                      <div class="col-md-12 form-style12">
                        <select id="bstate" class="form-control form-control1">
                            <option>Select Your State</option>
                            <option>Karnataka</option>
                            <option>Bihar</option>
                            <option>UP</option>
                            <option>Delhi</option>
                            <option>Mp</option>
                        </select>
                      </div>
                       <div class="col-md-12 form-style12">
                        <select id="bcountry" class="form-control form-control1">
                            <option>India</option>
                            <option>Nepal</option>
                            <option>Sri Lanka</option>
                            
                        </select>
                      </div>
                    </div>
                  </div>
                    <div class="form-group" >
                        <label class="control-label col-sm-4">Mobile*</label>
                        <div class="col-sm-8">
                          <input type="text" id="bphone" class="form-control form-control1" value="<%=@myadd.bphone if @myadd.present? %>" placeholder="Enter Mobile" required />
                        </div>
                      </div>
                 </div>
            </div>
         </form>
    </div>
</div>
    <div class="col-md-3">
      <div class="product-details12 bottom-adjust">
          <h4>Order Summary</h4>
          <% @cart.line_items.each do |item| %>
          <div class="img-section border-style1">
              <img src="/assets/img500.jpg" width="80px">
              <div class="detail-section">
                  <h5><%= item.product.name %></h5>
                  <p><%= item.product.description %></p>
              </div>
          </div>
          <% end %>

          <div class="border-style1">
              <div class="row">
                  <div class="col-md-12">
                      <div class="pull-left">
                          <p> Order Total</p>
                      </div>
                      <div class="pull-right">
                          <p> Rs. <%= @cart.total_price %></p>
                      </div>
                  </div>
              </div>                                            
          </div>
            <div class="border-style1">
              <div class="row">
                  <div class="col-md-12">
                      <div class="pull-left">
                      <p><strong>Grand Total </strong> </p>
                      </div>
                      <div class="pull-right">
                          <p><strong>Rs.<%= @cart.total_price %></strong> </p>
                          
                      </div>
                  </div>
              </div>                                            
          </div>
          <div class="border-style1">
              <div class="row">
                  <div class="col-md-12">
                      <div class="pull-left">
                           <p> EMI (details) Starting:</p>
                  
                      </div>
                      <div class="pull-right">
                           <p> Rs. 1000</p>
                      </div>
                  </div>
              </div>                                            
          </div>
           
          
      </div>
  </div>
  </div>
 <div class="row">
	<div class="col-md-12">
		 <div class="form-group "> 
      <div class=" col-sm-10">
        <input type="button" class="btn btn-warning btn-warning1" value="SAVE AND CONTINUE" onclick="save_address();">
       
      </div>
  </div>
	</div>
 </div>
</div>
</div>
<div class="tab-pane" id="tab_default_3">
<div class="container">
<div class="row">
<div class="col-md-8">
<div class="address-form1">

<form class="form-horizontal">
  <div class="address-form">
      <h4>Shipping Address</h4>
  <div class="form-group">
   <div class="radio">
      <label class="bold"><input type="radio" id="cod" name="optradio" checked="true">Card On Delivery </label>
    </div>
  </div>
  <div class="form-group">
   <div class="radio">
      <label><input type="radio" name="optradio" disabled>Cash On Delivery<br />Available only for order value less than ₹25000/-.
      </label>
      
    </div>
  </div>
   <div class="form-group">
   <div class="radio">
      <label class="bold"><input type="radio" id="cdcard" name="optradio">Credit Card / Debit Card / Net Banking  </label>
    </div>
  </div>
   <div class="form-group">
   <div class="radio">
      <label class="bold"><input type="radio" name="optradio">EMIs on Credit Card Details >> <br />Full upfront payment is required via a Credit Card. EMI approval is at the sole discretion of the card issuing bank. Note: EMIs on Amex cards are temporarily disabled </label>
    </div>
  </div>
   <div class="form-group">
   <div class="radio">
      <label><input type="radio" name="optradio" disabled> Interest Free EMI (Bajaj Finserv) Check Eligibility >> <br >Applicable only for order values of Rs. 50,000 or higher. Note: this payment method is not available for Goa and Trivandrum.  </label>
    </div>
  </div>
  </div>
  
  <div class="form-group">
      <div class="col-sm-10">
          <p>Email-Id: asdf@asf.com Mobile: 9987654321</p>
      </div>
    <div class=" col-sm-10">
      <!-- <button type="submit" class="btn btn-warning btn-warning1">Place Order</button> -->
     <!--  <%= button_to "Continue", new_order_path,class: "btn btn-warning btn-warning1" %> -->
     <% if @cuser != nil %>
     <div id="cod_div">
     <%#= link_to 'Proceed To Payment', new_order_path %>
     <%= link_to(cod_confirmation_path, class: "btn btn-success btn-warning1") do %>
        Order Now
       <% end %>
     </div>
     <div id="cdcard_div">
     <%= link_to(payments_mypayment_path, class: "btn btn-warning btn-warning1") do %>
       Proceed To Payment
       <% end %>
       </div>
     <% else %>
     <a data-toggle="modal" data-target="#login"><i class="btn btn-warning btn-warning1">Proceed To Payment</i></a>
      <!-- <button type="submit" onclick="popuplogin();" class="btn btn-warning btn-warning1">Place Order</button> -->
     <% end %>
    </div>
  </div>

</form>
</div>
</div>
<div class="col-md-4">
<div class="product-details12">
<h4>Order Summary</h4>
<% @cart.line_items.each do |item| %>
<div class="img-section border-style1">
    <%= image_tag(item.product.image_url.medium5x5.url,:width => "80px") %>

    <div class="detail-section">
        <h5><%= item.product.name %></h5>
        <p><%= item.product.description %></p>
    </div>
</div>
<% end %>
<div class="border-style1">
<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <p> Order Total</p>
    
        </div>
        <div class="pull-right">
            <p> Rs.<%= @cart.total_price %></p>
        </div>
    </div>
</div>                                            
</div>
<div class="">
<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
        <p><strong>Grand Total </strong> </p>
        </div>
        <div class="pull-right">
            <p><strong>Rs.<%= @cart.total_price %></strong> </p>
            
        </div>
    </div>
</div>                                            
</div>



</div>
</div>
</div>
</div>
</div>                               
</div>                                
</div>
</div>
</div>
</div>
</section>
       

<div class="divider1"></div>
<section class="section">
<div class="container">
<div class="row">
    <div class=" text-center heading">
        <h3>
            Related Products
        </h3>
    </div>
    <div class="owl-carousel owl-theme owl-1 carousel1">
        <div class="item">
			<a href="#">
				<div class="img-back1">
					 <img class="img-responsive" src="/assets/img500.jpg">   
				</div>
				<h4>Product Name</h4>
			</a>                                                                   
        </div>
		<div class="item">
			<a href="#">
				<div class="img-back1">
					 <img class="img-responsive" src="/assets/img500.jpg">   
				</div>
				<h4>Product Name</h4>
			</a>                                                                   
        </div>
		<div class="item">
			<a href="#">
				<div class="img-back1">
					 <img class="img-responsive" src="/assets/img500.jpg">   
				</div>
				<h4>Product Name</h4>
			</a>                                                                   
        </div>
		<div class="item">
			<a href="#">
				<div class="img-back1">
					 <img class="img-responsive" src="/assets/img500.jpg">   
				</div>
				<h4>Product Name</h4>
			</a>                                                                   
        </div>
		<div class="item">
			<a href="#">
				<div class="img-back1">
					 <img class="img-responsive" src="/assets/img500.jpg">   
				</div>
				<h4>Product Name</h4>
			</a>                                                                   
        </div>
		<div class="item">
			<a href="#">
				<div class="img-back1">
					 <img class="img-responsive" src="/assets/img500.jpg">   
				</div>
				<h4>Product Name</h4>
			</a>                                                                   
        </div>
		<div class="item">
			<a href="#">
				<div class="img-back1">
					 <img class="img-responsive" src="/assets/img500.jpg">   
				</div>
				<h4>Product Name</h4>
			</a>                                                                   
        </div>
		<div class="item">
			<a href="#">
				<div class="img-back1">
					 <img class="img-responsive" src="/assets/img500.jpg">   
				</div>
				<h4>Product Name</h4>
			</a>                                                                   
        </div>
	</div>
</div>
</div>
</section>
    
<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog login-model">

    <!-- Modal content-->
    <div class="modal-content">
         <button type="button" class="close close-login" data-dismiss="modal">&times;</button>       
     
      <div class="modal-body ">
       <div class="row">
        <div class="col-md-6 hidden-xs">
            <img class="img-responsive height_adjust" src="/assets/lo-back.jpg">
        </div>
         <div class="col-md-6 text-center heading12">
            <img src="/assets/login.png" width="200px">
            <form action="" method="post" class="login-form1">
                <label class="label-control">
                    Email ID
                </label>                                
                <input type="email" id="userl_email" class="form-control" placeholder="Enter Email Id">
                <label class="label-control">
                    Password
                </label>
                <input type="password" id="userl_pass" class="form-control" placeholder="Enter Password">
                
                <br />
                <button type="button" onclick="sign_in()" class="btn btn-default-style1">Login In</button>
            </form>
            <p>Lost Password? <a class="hide-login" data-toggle="modal" data-target="#lostpass">Click Here</a></p>
            <p>Don't u have an account?<a class="hide-login" data-toggle="modal" data-target="#signin">Sign Up</a></p> 
        </div>
         
       </div>
      </div>
      
    </div>

  </div>
</div>

 <div id="signin" class="modal fade" role="dialog">
  <div class="modal-dialog login-model">

    <!-- Modal content-->
    <div class="modal-content">
         <button type="button" class="close close-login" data-dismiss="modal">&times;</button>       
     
      <div class="modal-body ">
       <div class="row">
        <div class="col-md-6 hidden-xs">
            <img class="img-responsive height_adjust" src="/assets/lo-back.jpg">
        </div>
         <div class="col-md-6 text-center heading12">
            <img src="/assets/signup.png" width="200px">
            <form action="" method="post" class="login-form1">
                <label class="label-control">
                    Name
                </label>
                <input type="text" id='userr_name' class="form-control" placeholder="Enter Name">
                <label class="label-control">
                    Email ID
                </label>                                
                <input type="email" id='userr_email' class="form-control" placeholder="Enter Email Id">
                <label class="label-control">
                    Password
                </label>                                
                <input type="password" id='userr_pass' class="form-control" placeholder="Enter Password">
                <label class="label-control">
                    Confirm Password
                </label>                                
                <input type="password" id='userr_cpass' class="form-control" placeholder="Enter Confirm Password">
                
                <button type="button" onclick="sign_up()" class="btn btn-default-style1">Register</button>
            </form>
            <p>Have an account?<a class="hide-signin" data-toggle="modal" data-target="#login">Log-in</a></p>                            
        </div>
       </div>
      </div>
      
    </div>

  </div>
</div>

<div id="lostpass" class="modal fade" role="dialog">
<div class="modal-dialog login-model">

<!-- Modal content-->
<div class="modal-content">
     <button type="button" class="close close-login" data-dismiss="modal">&times;</button>       
 
  <div class="modal-body ">
   <div class="row">
    <div class="col-md-6 hidden-xs">
        <img class="img-responsive" src="/assets/lo-back.jpg">
    </div>
     <div class="col-md-6 text-center heading12">
        <img src="/assets/pass.png" width="200px">
        <form action="" method="post" class="login-form1">                               
            <label class="label-control">
                Email ID
            </label>                                
            <input type="email" class="form-control" placeholder="Enter Email Id">              
            <button type="submit" class="btn btn-default-style1">Submit</button>
        </form>
        <p>Have an account?<a class="hide-loss" data-toggle="modal" data-target="#login">Log-in</a></p>                            
    </div>
   </div>
  </div>
  
</div>

</div>
</div>  
	
<script>

function line_item_increse(p_id,type)
   {
    var qnty = $('#pro_count_'+p_id).val();
     if(parseInt(qnty) == 1 && type =="sub"){
         return false
     }else{
        // alert(qnty);
        $.ajax('/item_increase_decrease', 
            {
                type: 'GET',
                // dataType : 'script',
                data: {
                  "pid" : p_id,
                  "typ" : type
              },
                success: function(data) 
                {
                  // alert(data.line_item);
                   if(data.success == "success"){
                       $('#pro_count_'+p_id).val(data.line_item);
                   }else{

                   }
              } 
            });
     }
      

     // }
            

   }

$(document).ready(function() {
   $("#cdcard_div").hide();

  $("#cod").change(function() {
    if(this.checked) {
      $("#cdcard_div").hide();
      $("#cod_div").show();
      // alert("cod");
    }
});

  $("#cdcard").change(function() {
    if(this.checked) {
      $("#cod_div").hide();
      $("#cdcard_div").show();
      // alert('card');
    }
});

});


  function save_address(){
      var sfname = $('#sfname').val();
      var slname = $('#slname').val();
      var semail = $('#semail').val();
      var sphone = $('#sphone').val();
      var saddess = $('#saddess').val();
      var spincode = $('#spincode').val();
      var bfname = $('#bfname').val();
      var blname = $('#blname').val();
      // var upass = $('#bemail').val();
      var baddress = $('#baddress').val();
      var bcity = $('#bcity').val();
      var bstate = $('#bstate').val();
      var bcity = $('#bcity').val();
      var bcountry = $('#bcountry').val();
      var bphone = $('#bphone').val();
      
      var add_same = 1;
      if(document.getElementById('add_same').checked) {
      } else {
        add_same = 0
      }
      
  $.ajax('/users/save_address', 
    {
        type: 'POST',
        data: {
          sfname : sfname,
          slname : slname,
          semail : semail,
          sphone : sphone,
          saddess : saddess,
          spincode : spincode,
          bfname : bfname,
          blname : blname,
          baddress : baddress,
          bcity : bcity,
          bstate : bstate,
          bcountry : bcountry,
          bphone : bphone,
          add_same : add_same
      },
        success: function(data) 
        {
          
        
      } 
    });
  }
</script>

