<div class="container-fluid">
<%= form_for(@color) do |f| %>
  <% if @color.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@color.errors.count, "error") %> prohibited this color from being saved:</h2>

      <ul>
      <% @color.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table id="pro_table" style="width:50%">
  <tr>
    <td><%= f.label :name %><br></td>
    <td><%= f.text_field :name %></td> 
  </tr>
  <tr>
    <td><%= f.label :enabled %><br></td>
    <td> f.check_box :enabled %></td> 
  </tr>
  <tr>
    <td><%= f.submit :class => "btn btn-warning" %></td>
  </tr>
</table>
<% end %>
<div>
<style type="text/css">
#pro_table 
{
    border-collapse:separate;
    border-spacing:0 5px;

}

</style>
