<div class="container-fluid">
<p id="notice"><%= notice %></p>

<h1>Listing Colors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Enable</th>
      <th colspan="3" style="padding-left:64px;">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @colors.each do |color| %>
      <tr>
        <td><%= color.name %></td>
        <td><%= color.enabled %></td>
        <td><%= link_to 'Show', color ,{:class => "btn btn-success"} %></td>
        <td><%= link_to 'Edit', edit_color_path(color),{:class => "btn btn-info"} %></td>
        <td><%= link_to 'Destroy', color,:class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Color', new_color_path,{:class => "btn btn-primary"} %>
</div>
