<p id="notice"><%= notice %></p>
<div class="container-fluid">

<table id="pro_table">
  <tr>
    <td><strong>Name:</strong></td>
    <td><%= @color.name %></td> 
  </tr>

  <tr>
    <td><strong>Enable:</strong></td>
    <td><%= @color.enabled %></td> 
  </tr>

  <tr>
    <td><%= link_to 'Edit', edit_color_path(@color),{:class => "btn btn-primary"} %> |
    <%= link_to 'Back', colors_path,{:class => "btn btn-primary"} %></td> 
  </tr>
</table>

</div>
<style type="text/css">
#pro_table 
{
    border-collapse:separate;
    border-spacing:0 5px;
}
</style>

