<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag @category.image_url.medium5x5.url %>
  <p>
</p>

<p>
  <strong>Active:</strong>
  <%= @category.active %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
